@keyframes slideUp {
  from {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }
}

.root {
  width: 100%;
  border-radius: 0;
  bottom: 0;
  left: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  position: fixed;
  background-color: rgb(255, 255, 255);
  height: auto;
  box-shadow: rgb(0 0 0 / 15%) 0px 4px 24px, rgb(0 0 0 / 5%) 0px 2px 6px;
  animation: slideUp 1s ease both;
  animation-delay: 2s;
}

.root > .body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  color: rgb(0, 0, 0);
  text-align: left;
}

.root > .body > .title {
  font-size: 1em;
  font-weight: 400;
  margin: 0 0 10px;
}

.root > .body > .description {
  font-size: 0.8em;
  line-height: 1.5em;
  margin: 0 0 10px;
}

.root > .body > .link {
  font-size: 0.8em;
  color: rgb(192, 192, 192);
  text-decoration: none;
  transition: color 0.5s ease;
}

.root > .body > .link:hover {
  color: rgb(35, 157, 228);
}

.root > .buttons {
  display: flex;
  justify-content: space-around;
}

.root > .buttons > .button {
  border: none;
  margin: 0;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  padding: 10px;
  width: 100%;
  border-right: 1px solid rgb(238, 238, 238);
  border-top: 1px solid rgb(238, 238, 238);
  transition: background-color 0.5s ease;
  outline: none;
}

.root > .buttons > .button:first-child {
  border-bottom-left-radius: 10px;
}

.root > .buttons > .button:last-child {
  border-bottom-right-radius: 10px;
  border-right: none;
}

.root > .buttons > .button:hover {
  background-color: rgb(238, 238, 238);
}

@media screen and (min-width: 490px) {
  .root {
    width: 450px;
    border-radius: 10px;
    bottom: 30px;
    left: 20px;
  }
}

@media (prefers-color-scheme: dark) {
  .root {
    background-color: rgb(41, 41, 41);
  }

  .root > .body {
    color: rgb(255, 255, 255);
  }

  .root > .buttons > .button {
    color: rgb(255, 255, 255);
    background-color: rgb(41, 41, 41);
    border-right: 1px solid rgb(51, 51, 51);
    border-top: 1px solid rgb(51, 51, 51);
  }

  .root > .buttons > .button:hover {
    background-color: rgb(51, 51, 51);
  }
}
